:root{
    --content-color: white;
}
@keyframes spinningCircle1{
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(180deg);}
}

@keyframes scaleBounce{
    0%{
        transform:scaleY(1);
    }

    25%{
        transform:scaleY(2);
    }

    50%{
        transform:scaleY(1);
    }
    75%{
        transform:scaleY(1);
    }
    100%{
        transform:scaleY(1);
    }
}

body{
    height:100vh;
    background-color: #6BBCBE;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 40%;
    height: 100%;
}

article:nth-child(1){
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

article:nth-child(2){
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.circle{
    position: relative;
    margin : 10px 10px 50px 10px;
    width: 10px;
    height: 10px;
    background-color: var(--content-color);
    border-radius: 50%;
    animation: spinningCircle1 1s ease-in-out infinite;
}

.circle:before{
    content: "";
    position: absolute;
    left: -25px;
    width: 10px;
    height: 10px;
    background-color: var(--content-color);
    border-radius: 50%;
}

.circle:after{
    content: "";
    position: absolute;
    left: 25px;
    width: 10px;
    height: 10px;
    background-color: var(--content-color);
    border-radius: 50%;
}

.box{
    margin : 10px 3px 10px 3px;
    width: 10px;
    height: 40px;
    background-color: var(--content-color);
    animation:scaleBounce 1s ease-in-out infinite;
}
.box:nth-child(1) {animation-delay:0s;}
.box:nth-child(2) {animation-delay:0.1s;}
.box:nth-child(3) {animation-delay:0.2s;}
.box:nth-child(4) {animation-delay:0.3s;}
.box:nth-child(5) {animation-delay:0.4s;}
