
.icon-img{
    width: 39px;
    height: 35px;
}


.recommended-friends{
    margin: 0px 0px 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title{
    font-size: 15px;
    opacity: 0.8;
}

.recommended-friends__contents-content,
.recommended-friends__contents-content img,
.recommended-friends__contents-content span{
    cursor: pointer;
}

.recommended-friends__contents{
    padding: 30px 10px;
    display: flex;
    overflow-x: auto;
    height: 220px;
    margin-top: 15px;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
}

.recommended-friends__contents::-webkit-scrollbar {
    width: 20px;
  }
  
  .recommended-friends__contents::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 80px;
    
  }
  
  .recommended-friends__contents::-webkit-scrollbar-thumb {
    border-radius: 80px;
    background: rgb(55,41,72);
    background: linear-gradient(90deg, rgba(55,41,72,1) 0%, rgba(255,202,202,1) 49%, rgba(255,236,239,1) 100%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border: 1px solid #d4aa70;
  }

.recommended-friends__contents-content{
    margin: 0px 10px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s linear;
    align-items: center;
}
.recommended-friends__contents-content:hover{
    transform: translateY(-10px);
    box-shadow: 0px 2px 10px azure;
}




.recommended-friends__contents-content img{
    width: 100px;
    height: 150px;
}

.recommended-friends__contents-content span{
    width: 100px;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}



.recommeded-friends__contentse{
    display: block;
    margin: 100px 0;
    font-size: 18px;
    text-align: center;
    color: var(--font-color);
}


.open-chat__header{
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}

.open-chat__header span{
    color: var(--font-color);
}

.open-post,
.open-post__hashtags,
.open-post__column,
.open-post__photo > img,
.open-post__members,
.open-post__title,
.open-post__member-count,
.open-post__member-status,
.open-post__members > img,
.open-post__heart-count,
.open-post__heart-count span,
.open-post__heart-count i
{
    cursor: pointer;
}

.open-post{
    padding: 10px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s linear;
}

.open-post:hover{
    transform: translateY(-10px);
    box-shadow: 0px 2px 10px azure;
}

.open-post__column:nth-child(2){
    margin-left: 10px;
}

.open-post__title{
    font-weight: 600;
    margin-bottom: 7px;
    font-size: 18px;
}

.open-post__hashtags{
    text-transform: uppercase;
    color: var(--font-color);
    font-size: 15px;
}

.open-post__members{
    margin-top: 7px;
    display: flex;
    align-items: center;

}

.open-post__members img{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.open-post__member-count{
    color: var(--font-color);
    font-size: 14px;
}

.open-post__members .divider{
    width: 2px;
    height: 10px;
    background-color: #c8c8c8;
    margin: 0px 5px;
}

.open-post__member-status{
    color: #f9dd25;
}


.open-post__photo {
    position: relative;
}

.open-post__photo img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.open-post__heart-count{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 12px;
}

.open-post__heart-count span{
    margin-left: 3px;
}

@keyframes heartBeat{
    0%{
        color: white;
    }
    50%{
        color:tomato;
        transform: scale(1.5);
    }
    100%{
        color: white;
    }
}

.open-post__heart-count:hover i{
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}



@media screen and (max-width:330px) {
    .open-chat__title{
        font-size:14px;
    }

    .open-chat__header span{
        font-size: 13px;
    }
    
    .open-post__title{
        line-height: 17px;
        font-size: 16px;
    }

    .open-post__hashtags{
        font-size: 13px;
    }

    .open-post__member-status{
        font-size: 14px;
    }

    .open-post__photo img{
        width: 80px;
        height: 80px;
        border-radius: 10px;
    }
    
}