.user-wallet{
    padding: 20px 20px;
    overflow: visible;
    background-color: var(--font-color);
    color:var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-wallet span:not([class="divider-bar"]){
    cursor: pointer;
}


.user-wallet-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.user-wallet-header__column{
    width: 50%;
}

@keyframes walletIconShaking {
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(45deg);
    }
    20%{
        transform: rotate(-45deg);
    }
    30%{
        transform: rotate(30deg);
    }
    40%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(10deg);
    }
    60%{
        transform: rotate(-10deg);
    }
    70%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.user-wallet-box{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 209, 163);
    padding: 10px 20px;
    width: 94%;
    height: 30px;
}

.user-wallet-box:hover .fa-calculator{
    animation: walletIconShaking 3s ease-in-out infinite;
}

.user-wallet-pay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 18px;
}

.user-wallet-send{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 18px;
}

.user-wallet-send__column .divider-bar{
    opacity: 0.5;
}

.user-wallet-pay__column span{
    font-weight: 800;
}

.more-screen{
    padding: 0px !important;
}

.more-screen .icon-row{
    margin-top: 35px;
    padding: 0px var(--horizontal-space);
}

.more-screen .icon-row__icon{
    width: 100px;
}

.more-suggestions{
    margin: 40px var(--horizontal-space) 90px var(--horizontal-space);
    padding-top: 25px;
    padding-bottom: 90px;
    border-top: var(--main-border);
}

.more-suggestions__title{
    margin-bottom: 30px;
}

.more-suggestions__content{
    display: flex;
    justify-content: center;
}

.more-suggestions__content-img{
    -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
    animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

.more-suggestions__content-img img{
    border-radius: 20px;
    width: 100%;
    height: auto;
    cursor: pointer;

}

@-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  
@media screen and (max-width:448px) {
    .user-wallet-header__column span{
        font-size: 14px;
    }
    .user-wallet-header__column span i{
        font-size: 10px;
    }

    .user-wallet__column span{
        font-size: 14px;
    }
    .user-wallet__column span i{
        font-size: 10px;
    }

    .user-wallet-box__column span{
        font-size: 13px;
    }

    .user-wallet-send__column span{
        font-size: 10px;
    }
    
}
