.settings__setting {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .setting-border{
    border-top: 1px solid var(--font-color);
  }
  .settings__setting span{
    font-size: 20px;
  }
  
  .settings__setting i {
    width: 20px;
    opacity: 0.8;
    margin-right: 20px;
    font-size: 22px;
  }
  .settings__setting-column:last-child{
    opacity: 0.5;  
  }

  .user-profile-edit{
    position: absolute;
    top:-20px;
    right: 10px;
    padding: 3px 3px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    color: black;
    border: 2px solid rgba(147, 147, 147, 0.8);
    background-color: var(--font-color);
  }

  @media screen and (max-width:428px) {
    .user-profile-edit{
      width: 20px;
      height: 20px;

    }
    .big-screen{
        display: none;
    }

    .small-screen{
      display: none;
    }

}

@media screen and (min-width:330px) and (max-width:428px) {
  .settings__setting-column span{
    font-size: 17px;
  }

  .small-screen{
    display: block;
  }

}

@media screen and (max-width:330px) {
  .small-screen{
    display: block;
  }
    .settings__setting span{
    font-size: 20px;
  }

  .settings__setting-column span{
    font-size: 13px;
  }
}

