.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}

.screen-header__title{
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span{
    margin-left: 25px
}

.screen-header__icons > span{
    margin-left: 25px;
    position: relative;
}

.screen-header__whitecircle{
    position: absolute;
    left: -12px;
    bottom: 2px;
    border-radius: 50%;
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
}

.screen-header__icons .fa-plus{
    position: absolute;
    left: 14px;
    bottom: 6px;
    background-color: white;
}

@keyframes rotateCog{
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-gear:hover{
    animation: rotateCog 1s linear infinite;
}