.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}

.screen-header__column:nth-child(2){
    display: flex;
    justify-content: center;
}

.screen-header__column:last-child{
    display: flex;
    justify-content: end;
}


.screen-header__title{
    font-size: 32px;
    font-weight: 600;
}

.screen-header__line {
    position: relative; 
    width: 100px;
    height: 30px;
    display:inline-block; 
    margin:0;
}


.screen-header__icons span{
    margin-left: 25px;
}

.screen-header__icons span i
{
    transition: transform 0.2s linear;
}

.screen-header__icons span:hover i
{
    transform: translateY(-10px);
}

.screen-header__icons > span{
    margin-left: 25px;
    position: relative;
}

.screen-header__circle{
    position: absolute;
    left: -12px;
    bottom: 2px;
    border-radius: 50%;
    display: block;
    width: 10px;
    height: 10px;
}

.screen-header__icons .fa-plus{
    position: absolute;
    left: 14px;
    bottom: 6px;
    background-color: white;
}

.screen-header__icons .fa-music{
    will-change: transform;
    animation: musicTrans 0.4s linear infinite;
}

@keyframes musicTrans {
    from{
        transform: scale(1.2);
    }to{
        transform: scale(1);
    }
}

@media screen and (max-width:330px) {
    .screen-header__title{
      font-size: 25px;
    }

    .screen-header__icons i{
        font-size: 13px;
    }

    .screen-header__icons .fa-plus{
        position: absolute;
        left: 7px;
        bottom: 6px;
        background-color: white;
    }
    
}
